*{
    padding: 0px;
    margin: 0px;
}
html,body{
    background-color: #f2fcf3;
}
input,textarea,select{
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
    background-color: whitesmoke;
}
::-webkit-scrollbar-track{
  background-color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;;
}
::-webkit-scrollbar-thumb{
    border-radius: 1000px;
    background-color: rgb(26, 167, 26);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:active{
    background-color: green;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1359;
    background-color: #f2fcf3;
    border-bottom: 5px solid darkgreen;
}
a{
    text-decoration: none;
    color: blue;
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
}
#nav{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    
}
#nav-link{
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
    border-radius: 30px;
}
#nav-link:hover{
    background-color: darkgrey;
    
}
#title{
    height: 300px;
    background-image: url(../image/background/hive-img1-bokasi.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tn{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
#title h1 img{
    padding: 10px;
}
#title h1{
    font-size: 50px;
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
    background-color: white;
    padding: 20px;
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 5vh 5vw;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: white;
    margin: 30px;
    box-shadow: var(--shadow-elevation-medium);
}
section p,b{
    font-size: 25px;
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
}
section h2{
    font-size: 40px;
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
    word-break: keep-all;
}
hr{
    color: gray;
    width: 70%;
    margin: 0 auto;
}
footer{
    clear: both;
    padding: 30px;
    background-color: rgb(201, 201, 201);
    font-family: 'Urbanist','Zen Maru Gothic', sans-serif;
    border-radius: 30px 30px 0px 0px;
}
#content-body a{
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}
#body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 750px) {
    section{
        width: 100%;
    }
}
::selection{
    background-color: green;
    color: whitesmoke;
}
:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
    0px 0.3px 0.5px hsl(var(--shadow-color) / 0.05),
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-medium:
    0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0.03),
    0.1px 0.9px 1.4px hsl(var(--shadow-color) / 0.05),
    0.1px 1.5px 2.3px hsl(var(--shadow-color) / 0.08),
    0.2px 2.6px 3.9px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-high:
    0px 0.1px 0.2px hsl(var(--shadow-color) / 0),
    0.1px 1px 1.5px hsl(var(--shadow-color) / 0.01),
    0.1px 1.7px 2.6px hsl(var(--shadow-color) / 0.02),
    0.2px 2.4px 3.6px hsl(var(--shadow-color) / 0.04),
    0.2px 3.2px 4.8px hsl(var(--shadow-color) / 0.05),
    0.3px 4.1px 6.2px hsl(var(--shadow-color) / 0.06),
    0.4px 5.3px 8px hsl(var(--shadow-color) / 0.07),
    0.5px 6.9px 10.4px hsl(var(--shadow-color) / 0.08),
    0.6px 8.8px 13.2px hsl(var(--shadow-color) / 0.1),
    0.8px 11.3px 17px hsl(var(--shadow-color) / 0.11);
}
#sosal{
    display: flex;
    flex-wrap: wrap;
}
#sosal a{
    word-break: break-all;
}

