*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    src: url(../font/Urbanist.ttf);
    font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
html,body{
    scroll-snap-type: y mandatory;
}
#one img{
    border-radius: 1000px;
    border: 5px solid green;
}
.scroll-element{
    color: white;
    font-family: 'Urbanist', sans-serif;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: rgb(0, 46, 0);
    position: sticky;
    scroll-snap-align: start;
}
#one{
    background-image: url(../image/background/hive-4shot.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#too{
    background-color: rgb(8, 128, 62);
}
#the{
    background-color: darkred;
}
#for{
    background-color: rgb(119, 112, 10);
}
#fif{
    background-color: slateblue;
}
#fif img{
    display: block;
}
#si{
    background-color: cadetblue;
}
a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#body{
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

