*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    src: url(../font/Urbanist.ttf);
    font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar{
    width: 0px;
}
#one img{
    border-radius: 1000px;
    border: 5px solid green;
}
.scroll-element{
    color: white;
    font-family: 'Urbanist', sans-serif;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: rgb(0, 46, 0);
}
#one{
    background-image: url(../image/background/hive-4shot.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    /* SPの長押し禁止 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    user-select:none;
    pointer-events: none;
}
a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}