*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    src: url(../font/Urbanist.ttf);
    font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb{
    border: 2px solid gray;
}
header{
    display: flex;
    align-items: center;
    border-bottom: 1px gray solid;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1359;
}
a{
    text-decoration: none;
    color: blue;
}
#nav{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}
#nav-link{
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}
#nav-link:hover{
    background-color: rgba(128, 128, 128, 0.39);
}
#title{
    height: 300px;
    border-bottom: 1px solid grey;
    background-image: url(../image/background/hive-4shot.webp);
    background-position: center center;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
}
.tn{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    backdrop-filter: blur(5px);
}
#title h1 img{
    padding: 10px;
}
#title h1{
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 100px 5vw;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    margin:  0 auto;
}
section p,b{
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
}
section h2{
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
}
hr{
    color: gray;
    width: 70%;
    margin: 0 auto;
}
footer{
    clear: both;
    padding: 30px;
    border-top: 1px solid gray;
    font-family: 'Urbanist', sans-serif;
}
#content-body a{
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}
#body{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 550px) {
    section{
        width: 100%;
    }
}
