*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    src: url(../font/Urbanist.ttf);
    font-family: 'Urbanist', sans-serif;
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    background-color: whitesmoke;
    border: 2px solid darkgreen;
}
::-webkit-scrollbar-thumb:active{
    background-color: grey;
    border: 2px solid darkgreen;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1359;
    background-color: whitesmoke;
    border-bottom: 5px solid darkgreen;
}
a{
    text-decoration: none;
    color: blue;
}
#nav{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    
}
#nav-link{
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
    border-radius: 30px;
}
#nav-link:hover{
    background-color: darkgrey;
    
}
#title{
    height: 300px;
    background-image: url(../image/background/hive-img1-bokasi.webp);
    background-position: center center;
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
}
.tn{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: end;
    height: 100%;
    position: relative;
}
#title h1 img{
    padding: 10px;
}
#title h1{
    font-size: 50px;
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    padding: 20px;
    border-radius:30px 30px  0px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    padding: 5vh 5vw;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: whitesmoke;
    width: 50%;
    margin: 30px;
}
section p,b{
    font-size: 25px;
    font-family: 'Urbanist', sans-serif;
}
section h2{
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
}
hr{
    color: gray;
    width: 70%;
    margin: 0 auto;
}
footer{
    clear: both;
    padding: 30px;
    background-color: whitesmoke;
    font-family: 'Urbanist', sans-serif;
    border-radius: 30px 30px 0px 0px;
}
#content-body a{
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}
#body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 750px) {
    section{
        width: 100%;
    }
}
::selection{
    background-color: green;
    color: whitesmoke;
}
